.footer {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 28px 0;
    position: fixed;
    width: 100%;
    z-index: 10;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 42px;
}


.footer-left__copyrights-elements {
    display: flex;
    gap: 4px;
    align-items: center;
}

.footer-left__copyrights-elements-icon {
    width: 25px;
    height: 25px;
}

.footer-left__copyrights-elements-text {
    font-family: "Play", "Aria", sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    width: 140px;
}

.footer-right {
    display: flex;
    align-items: center;
    gap: 32px;
}

.footer-right__reading {
    font-family: "Play", "Aria", sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    width: 170px;
    text-align: right;
}

.form-email {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.form-email__icon {
    width: 18px;
    height: 15px;
    position: absolute;
    left: 16px;
}

.form-email__input {
    background-color: rgba(255, 255, 255, 0.15);
    padding: 12px 16px;
    border-radius: 8px;
    border: none;
    margin: 0 16px 0 0;
    width: 270px;
}

.form-email__input::placeholder {
    font-family: "Play", "Aria", sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
}

.form-email__button {
    color: #000000;
    font-family: "Play", "Aria", sans-serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    background-color: #87F29A;
    cursor: pointer;
    padding: 12px 32px;
    border: none;
    border-radius: 8px;
    margin: 0;
}
