.footer {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 28px 0;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-left {
    display: flex;
    align-items: center;
    gap: 42px;
}


.footer-left__copyrights-elements {
    display: flex;
    gap: 4px;
    align-items: center;
}

.footer-left__copyrights-elements-icon {
    width: 25px;
    height: 25px;
}

.footer-left__copyrights-elements-text {
    font-family: "Play", "Aria", sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    width: 140px;
}

.footer-right {
    display: flex;
}

.footer-right__reading {
    font-family: "Play", "Aria", sans-serif;
    font-size: 12px;
    line-height: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.8);
    width: 170px;
    text-align: right;
}