.form-message__area {
    position: relative;
    display: flex;;
    align-items: center;
    justify-content: center;

}

.form-message__area-input {
    width: 540px;
    padding: 16px 24px;
    background-color: rgba(255, 255, 255, 0.15);
    border: none;
    border-radius: 8px;
    margin: 0;
    display: block;
    position: relative;
    height: 65px;
}

.form-message__area-input::placeholder {
    font-family: "Play", "Aria", sans-serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 32px;
    color: #FFFFFF;
}

.form-message__area-button {
    background: transparent;
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    position: absolute;
    right: 30px;
}

.form-message__area-button-icon {
    width: 24px;
    height: 24px;
    color: #FFFFFF;
    position: absolute;
    transform: translateY(-50%);
}