.hero__content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 16px 0;
}

.hero__title {
    display: flex;
    text-transform: uppercase;
    color: #FFFFFF;;
    font-size: 84px;
    font-weight: 400;
    line-height: 84px;
    font-family: "Press Start 2P", "Arial", sans-serif;
    margin: 0 0 16px 0;
}

.hero__title-accent {
    color: #87F29A;
}

.hero__text {
    font-family: "Play", "Aria", sans-serif;
    font-size: 22px;
    line-height: 32px;
    color: rgba(255, 255, 255, 0.8);
    width: 500px;
    text-align: center;
    margin: 0 0 32px 0;
}