.quote-list {
    display: flex;
    list-style: none;
    position: absolute;
}

.quote-list__group {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 32px;
}

.quote-list__item {
    position: absolute;
    border-radius: 40px;
    z-index: 3;
}

.quote-list__item-text {
    font-family: "Play";
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    line-height: 24px;
    margin: 0;
}

.quote-list__item--brown {
    background-color: #676A47;
    border-radius: 40px;
    left: -50%;
    bottom: 100%;
    transform: translate(-50%, -50%);
    width: 360px;
}

.quote-list__group-ponytail {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 0;
    bottom: 0;
}

.quote-list__item--blue {
    background-color: #243961;
    border-radius: 40px;
    width: 334px;
    bottom: 100%;
    left: 30%;
    transform: translateY(-100%);
    z-index: -1;
}

.quote-list__item--violet {
    background-color: #61235F;
    border-radius: 40px;
    width: 334px;
    bottom: 100%;
    left: 120%;
}

.quote-list__item--green {
    background-color: #315C51;
    border-radius: 40px;
    width: 280px;
    left: 100%;
    top: 30%;
    transform: translate(50% , 50%);
}

.quote-list__item--red {
    background-color: #6A2844;
    border-radius: 40px;
    top: 200%;
    left: 70%;
    width: 363px;
}

.quote-list__item--purple {
    background-color: #432858;
    position: relative;
    border-radius: 40px;
    width: 423px;
    top: 200%;
}

.quote-list__item--dark-brown {
    background-color: #62432C;
    border-radius: 40px;
    width: 303px;
}

.quote-list__group-icon-mascot {
    position: absolute;
    width: 150px;
    height: 150px;
    z-index: -10;
    right: 90%;
}

.quote-list__group-icon-mascot-angry {
    position: absolute;
    width: 134px;
    height: 134px;
    overflow: hidden;
    z-index: 1;
    left: 0;
}
