.quote-list {
    display: flex;
    list-style: none;
}

.quote-list__group {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 32px;
}

.quote-list__item {
    position: absolute;
    border-radius: 40px;
}

.quote-list__item-text {
    font-family: "Play";
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
    line-height: 24px;
    margin: 0;
}

.quote-list__group--brown {
    background-color: #676A47;
    border-radius: 40px;
    top: 150px;
    left: 113px;
    width: 360px;
}

.quote-list__group-ponytail {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 0;
    bottom: 0;
}

.quote-list__group--blue {
    background-color: #243961;
    border-radius: 40px;
    top: 20px;
    left: 50%;
    width: 334px;
}

.quote-list__group--violet {
    background-color: #61235F;
    border-radius: 40px;
    top: 110px;
    right: 75px;
    width: 334px;
}

.quote-list__group--green {
    background-color: #315C51;
    border-radius: 40px;
    top: 40%;
    right: 75px;
    width: 334px;
}

.quote-list__group--red {
    background-color: #6A2844;
    border-radius: 40px;
    bottom: 300px;
    right: 20%;
    width: 363px;
}

.quote-list__group--purple {
    background-color: #432858;
    position: relative;
    border-radius: 40px;
    bottom: 182px;
    left: 100%;
    width: 423px;
    
}

.quote-list__group--dark-brown {
    background-color: #62432C;
    border-radius: 40px;
    top: 40%;
    left: 40px;
    width: 303px;
}

.quote-list__group-icon-mascot {
    position: absolute;
    width: 150px;
    height: 150px;
    left: -110px;
    top: -20px;
    z-index: -1;
}

.quote-list__group-icon-mascot-angry {
    position: absolute;
    width: 134px;
    height: 134px;
    right: -80px;
    bottom: 20px;
    overflow: hidden;
    z-index: -1;
}
