.quote-list {
    display: flex;
    list-style: none;
}

.quote-list__group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.quote-list__item {
    font-family: "Play";
    color: #ffffff;
    font-size: 18px;
    line-height: 24px;
    padding: 20px;
    text-align: center;
}

.quote-list__group--brown {
    position: absolute;
    background-color: #676A47;
    border-radius: 40px;
    top: 150px;
    left: 113px;
    width: 360px;
}

.quote-list__group-ponytail {
    position: absolute;
    width: 32px;
    height: 32px;
    right: 0;
    bottom: 0;
}

.quote-list__group--blue {
    position: absolute;
    background-color: #243961;
    border-radius: 40px;
    top: 110px;
    left: 40%;
    width: 334px;
    z-index: 10;
    /* overflow: hidden; */
}

.quote-list__group--violet {
    position: absolute;
    background-color: #61235F;
    border-radius: 40px;
    top: 110px;
    right: 75px;
    width: 334px;
}

.quote-list__group--green {
    background-color: #315C51;
    position: absolute;
    border-radius: 40px;
    top: 40%;
    right: 75px;
    width: 334px;
}

.quote-list__group--red {
    background-color: #315C51;
    position: absolute;
    border-radius: 40px;
    bottom: 62px;
    right: 30%;
    width: 363px;
}

.quote-list__group--purple {
    background-color: #432858;
    position: absolute;
    border-radius: 40px;
    bottom: 82px;
    left: 30%;
    width: 423px;
}

.quote-list__group--dark-brown {
    background-color: #62432C;
    position: absolute;
    border-radius: 40px;
    top: 40%;
    left: 50px;
    width: 303px;
}