.smiles-iscon-mascot-devil {
    position: absolute;
    width: 130px;
    height: 130px;
    right: 50%;
    top: 5%;
}

.smiles-iscon-mascot-engry {
    position: absolute;
    width: 124px;
    height: 124px;
    right: 50%;
    bottom: 50px;
}